@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap');


body, h1, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Italianno", cursive;
}


body {
    background-color:  #6F4318;
}


h1{
    font-size: 440%;
}


header {
    background-color: #d3b89a;
    color: #000000;
}


.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
}


.logo h1 {
    margin: 0;
    letter-spacing: 5px;
    font-weight: 200;
}


.nav-links {
    list-style: none;
    display: flex;
}


.nav-links li {
    margin: 40px;
}


.nav-links a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-family: "Maitree", serif;
    font-size: 150%;
    font-weight: 500;
}


.nav-links a:hover {
    text-decoration: solid;
    background-color: rgb(185, 147, 147);
}


h2 {
    color: azure;
    font-family: "Maitree", serif;
    font-weight: 200;
    letter-spacing: 3px;
    text-align: center;
    margin: 2%;
}

.center {
    display: block;
    margin-left: 700px;
    margin-right: auto;
    width: 50%;
}

footer {
    background-color:#C8A6A6;
    padding-left: 30px;
}

.contact {
    font-family: "Maitree", serif;
    margin-bottom: 50px;
}

.contact p {
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 20px;
}

.contact h1 {
    color:#FFFFFF;
    font-family:"Maitree", serif;
    font-weight: 300;
    font-size: ;
}

.header h1 {
    color: #FFFFFF;
    font-family:"Maitree", serif;
    font-weight: 300;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding:20px;
    border-radius: 8px;
}


.about-container h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: azure;
    font-family:"Maitree", serif;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: azure;
    font-family: "Maitree", serif;
    font-weight: 500;
}

.signature {
    margin-top: 40px;
    font-size:10;
    text-align:left;
}