@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap');


body, h1, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Italianno", cursive;
}


body {
    background-color: #6F4318;
}


h1{
    font-size: 440%;
}


header {
    background-color: #d3b89a;
    color: #000000;
}


.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
}


.logo h1 {
    margin: 0;
    letter-spacing: 5px;
    font-weight: 200;
}


.nav-links {
    list-style: none;
    display: flex;
}


.nav-links li {
    margin: 40px;
}


.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-family: "Maitree", serif;
    font-size: 150%;
    font-weight: 500;
}


.nav-links a:hover {
    text-decoration: solid;
    background-color: #d3b89a ;
}


h2 {
    color: azure;
    font-family: "Maitree", serif;
    font-weight: 200;
    letter-spacing: 3px;
    text-align: center;
    margin: 2%;
}


.center {
    display: block;
    margin-left: 700px;
    margin-right: auto;
    width: 50%;
}


.product-section {
    text-align: center;
    margin: 20px;
}


.product {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 8px;
}


.product img {
    max-width: 325px;
    margin-right: 70px;
}


.product-description {
    max-width: 425px;
    text-align: left;
    font-size: 17px;
}


h2 {
    font-family: "Maitree", serif;
    font-weight: 400;
    font-size: 230%;
    color: azure;
    Letter-spacing: 2px;
}


h3 {
    font-family: "Maitree", serif;
    font-weight: 300;
    font-size: 25px;
    margin-top: 1px;
    color: azure;
    text-align: center;
}

p {
    font-family: "Maitree", serif;
    font-weight: 500;
    color: azure;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 20px;
}

footer {
    background-color:#d3b89a;
    padding-left: 30px;
}

.contact {
    font-family: "Maitree", serif;
    margin-bottom: 50px;
}

.contact p {
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 20px;
}

.contact h1 {
    color:#FFFFFF;
    font-family:"Maitree", serif;
    font-weight: 300;
    font-size: ;
}