@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Italianno&family=Questrial&display=swap');

h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9b7367d7;
}

h1{
    font-size: 440%;
    font-family: "Italianno", cursive;
    color: black;
}


header {
    background-color: #CAB3B1;
    color: #fff;
}



.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
}


.logo h1 {
    margin: 0;
}



.navbar li {
    margin: 40px;
}


.navbar a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-family: "Maitree", serif;
    font-weight: 500;
}


.navbar a:hover {
    text-decoration: solid;
    background-color: #F4E3E3;
}