@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Italianno&family=Questrial&display=swap');

h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    font-size: 440%;
    font-family: "Italianno", cursive;
    color: black;
}


header {
    background-color: #CAB3B1;
    color: #fff;
}



.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
}


.logo h1 {
    margin: 0;
}


.nav-links {
    list-style: none;
    display: flex;
}


.nav-links li {
    margin: 40px;
}


.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family:"DM Sans", sans-serif;
}


.nav-links a:hover {
    text-decoration: solid;
    background-color: rgb(170, 215, 255);
}