@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap');

body {
    width: 100%;
    background-color: hsla(14, 32%, 39%, 0.562);
}

h1 {
    font-family: "Maitree", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 9%;
    color: white;
}